.Stack0{
    clear: both;

}

.Stack1{
    float:  left;  
}

.Stack3{
    float: left;
    width: 200px;
}
.Stack2{
    float:  left;
    margin:  5px;
}

.bunnryo{
    float: right;
}

body{
    background-color: #fc9;
}